@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab/RobotoSlab-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab/RobotoSlab-Bold.ttf");
  font-weight: bold;
}

::placeholder {
  color: #c4c4c4;
}

body {
  margin: 0;
  font-family: "RobotoSlab", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.05)
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro,
  Menlo,
  Monaco,
  Consolas,
  'Courier New',
  monospace;
}

.container {
  width: 720px;
  margin: 0 auto;
  color: #121212;
}

.d-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.btn-unstyled {
  text-transform: capitalize;
  background: none;
  border: none;
  cursor: pointer;
  color: #4386bf;
  font-size: 0.875rem;
  font-family: "RobotoSlab", sans-serif;
}

.btn-filled {
  background-color: #0290ff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-family: "RobotoSlab", sans-serif;
  cursor: pointer;
}

.input {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding-left: 1.063rem;
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
